.taskLists {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #FFF;
}
.content{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}


.taskList{
  background: #FFF;
  border: 5px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 30px;
  min-width: 50%;
  margin: 5px;
  color: #000;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  font: 15px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
}