<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Sign In</title>
</head>
<body>
  <ng-container *ngIf="!logged">
    <!-- <div class="btnLogin">
      <div><input type="text" placeholder="Username"  [(ngModel)]="login"/></div>
      <div><input type="text" placeholder="Password" [(ngModel)]="password"/></div>
      <div><button (click)="auth()">Log in</button></div>
    </div> -->
    <div id="login">
        <h1>Log In</h1>
        <fieldset id="inputs">
            <i class="far fa-user"></i>
            <input id="username" type="text" placeholder="Username" [(ngModel)]="login" autofocus required>
            <br>
            <i class="fas fa-key"></i>
            <input id="password" type="password" placeholder="Password" [(ngModel)]="password" autofocus required>
        </fieldset>
        <fieldset id="actions">
            <input type="submit" (click)="auth()" id="submit" value="Log in">
        </fieldset>
      </div>
  </ng-container>
  
  <ng-container *ngIf="logged">
    <h2>Create Task:</h2>
    <div class="create">
      <input class="createText" type="text" [(ngModel)]="name" />
      <button class="btnCreate" (click)="createTasklist()">Create</button>
    </div>
    <h2>Tasklists:</h2>
    <div class = "tasklist">
      <div class="AllTaskLists" *ngFor="let c of taskLists">
      <span>
          <input type="" [(ngModel)]="c.name" />
        </span>
        <br>
        <span class="btnDelete" style="background-image: linear-gradient(to right top, #3d1725, #6b1a35, #9b1640, #cd0a45, #ff0043)" (click)="deleteTaskList(c)"> Delete</span><br>
        <span class="btnEdit" style="background-image: linear-gradient(to right top, #022107, #03340e, #07490f, #145e0c, #257400)" (click)="updateTaskList(c)"> Edit</span><br>
        <span class="btnGet" style="background-image: linear-gradient(to right top, #213424, #19433d, #12515b, #2c5c78, #59648c)" (click)="getTasks(c)"> Get Tasks </span>
      </div>
    </div>
    <br/>
    <h2>Tasks</h2>
    <div class = "ListTasks">
      <div class="Tasks" *ngFor="let t of tasks">
        ID : {{t.id}} <br> Name: {{t.name}} <br> Created at: {{t.created_at}} <br> Due on: {{t.due_on}} <br> Status: {{t.status}}
      </div>
    </div>
  
    <div class="btnLogout">
      <br/>
      <button (click)="logout()">Log out</button>
    </div>
  </ng-container>