<ng-container *ngIf ="!loading">
  Loading...
</ng-container>

<!-- <ng-container *ngIf="loading">
  <div>
    <div *ngFor ="let tl of task_lists" (click)="getTasks(tl)">
      {{tl.id}} - {{tl.name}}
    </div>
  </div>
</ng-container> -->

<ng-container *ngIf="loading">
  <div class="tasklists">
    <div class="tasklists_title">TASKLISTS:</div>
    <div class="tasklists_item" *ngFor="let tl of task_lists" (click)="getTasks(tl)">
      <div class="tasklists_id">{{tl.id}}.</div>
      <div class="tasklists_name">{{tl.name}}</div>
    </div>
  </div>
</ng-container>

<div class="tasks">
  <div class="tasks_title">TASKS:</div>
  <div class="tasks_item" *ngFor="let t of tasks">
    <div class="tasks_id">ID: {{t.id}}</div>
    <div class="tasks_name">NAME: {{t.name}}</div>
    <div class="tasks_status">STATUS: {{t.status}}</div>
    <div class="tasks_createdat">WAS CREATED AT: {{t.created_at}}</div>
    <div class="tasks_dueon">HAVE TO FINISH UNTIL: {{t.due_on}}</div>
  </div>
</div>

